@charset "UTF-8";
header.header{
    background-color: green;
    height: 75px;
    
    div.header_logo{
        color: orange;
    }
    div.nav{
        font-size: 30px;
        float: right 
    }
    div.nav_name{
        
    }
    
}

div.log_up{
      
}
