<div class = "contents">
 <div class = "cocntent">
  <% @reviews.each do |review| %>
    <div class = "content_image">
     <p><%= image_tag "#{review.image}" %></p>
    </div>
    <div class = "cocntent_text">
     <p><%= review.title %></p>
    </div>
    <div class = "content_review">
     <p><%= link_to 'このレビューをみる', review_path(review.id), method: :get %>
    </div>
  <% end %>
   </div>
  </div>
</div>